<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/add_catogory">add category</a></td>
    </tr>
    <tr>
      <td><a href="/view_category">view category</a></td>
    </tr>
    <tr>
      <td><a href="/add_staff">add staff</a></td>
    </tr>
    <tr>
      <td><a href="/view_staff">view staff</a></td>
    </tr>
    <tr>
      <td><a href="/add_area">add area</a></td>
    </tr>
    <tr>
      <td><a href="/view_area">view area</a></td>
    </tr>
    <tr>
      <td><a href="/area_allocation">area allocation to staff</a></td>
    </tr>
    <tr>
      <td><a href="/view_request">view request from user</a></td>
    </tr>
    <tr>
      <td><a href="/area_allocated">view allocated area</a></td>
    </tr>
    <tr>
      <td><a href="/view_allocation">view allocation status</a></td>
    </tr>
    <tr>
      <td><a href="/view_payment">view payment</a></td>
    </tr>
      <tr>
      <td><a href="/add_service">add service</a></td>
    </tr>
       <tr>
      <td><a href="/view_service">view service</a></td>
    </tr>
    <tr>
      <td><a href="/logout">logout</a></td>
    </tr>
  </table>
</form>
</body>
</html>

