{% extends "Admin_module/admin_index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/edit_service_post/{{ id.id }}">
    {% csrf_token %}

<table class="table table-primary" style="background-color: #ffe82d">
    <tr>
    <td width="124">CATEGORY NAME</td>
    <td width="134">
        <select name="cat">
            {% for i in data %}
            <option value="{{ i.id }}">{{ i.category_name }}</option>
            {% endfor %}
        </select>
    </td>
  </tr>
  <tr>
    <td width="124">SERVICE NAME</td>
      <td><input type="text" value="{{ id.service_name }}" name="textfield" id="textfield" /></td>
  </tr>
    <tr>
    <td width="124">AMOUNT</td>
      <td><input type="text" value="{{ id.amount }}" name="amount" class="form-control w-75" required id="textfield" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="button" id="button" value="Add" class="btn btn-primary w-50 p-3 border-0" /></td>
    </tr>
</table>
</form>
</body>
</html>
{% endblock %}