{% extends "Admin_module/admin_index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style>
        table tr th {
            background-color: #fdf227!important;

        }
    </style>
</head>

<body>
<form id="form1" name="form1" method="post" action="">

<table class="table table-primary" style="background-color: #ffe82d">
  <tr>
    <th>SI.NO/th>
    <th>SERVICE INFO.</th>
    <th>USER INFO.</th>
      <th>STAFF INFO.</th>
      <th>STATUS</th>
    <th>DATE</th>
      <th></th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}&nbsp;</td>
    <td>{{ i.REQUEST.SERVICE.service_name }}</td>
    <td>{{ i.REQUEST.CUSTOMER.name }}</td>
          <td>{{ i.STAFF.staffname }}&nbsp;</td>
          <td>{{ i.status }}&nbsp;</td>
    <td>{{ i.date}}&nbsp;</td>
    <td><p><a href="/cancel_allocation_status/{{ i.id }}" style="width: 110px" class="btn btn-primary">Cancel</a></p>
    </td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}