{% extends "Admin_module/admin_index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style>
        table tr th {
            background-color: #fdf227!important;

        }
    </style>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-active" style="background-color: #ffe82d">
    <tr>
      <th width="102">SI.NO</th>
      <th width="95">CITY NAME</th>
      <th width="40">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.cityname }}</td>
      <td><a href="/admin_edit_city/{{ i.id }}#aa" style="width: 110px" class="btn btn-primary">EDIT</a><p><br>
          <a href="/delete_city/{{ i.id }}#aa" style="width: 110px" class="btn  btn-primary"onclick="return confirm('Are you sure?')">DELETE</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}